body {
	min-height: 100vh;
	max-width: 1200px;
	background-color: white;
	margin: 0 auto;
}

.dest-list {
	background-color: #fee1c9;
}

h1 {
	text-align: center;
	padding-top: 3%;
}

ol {
	list-style: none;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
}

ol img {
	width: 100px;
	border-radius: 10px;

}

ol li {
	max-width: 100%;
	padding-left: 1%;
	padding-top: 2%;
	padding-bottom: 2%;
	display: flex;
	border-radius: 16px;
	font-size: 30px;
	margin-bottom: 5px;
}

ol li p {
	margin-left: 1%;
	margin-right: 1%;
}

/* n番目の要素に適用 */
ol li:nth-child(1) {
	background-color: #fe87ec;
}

ol li:nth-child(2) {
	background-color: #ff8b55;
}

ol li:nth-child(3) {
	background-color: #c963fa;
}

ol li:nth-child(4) {
	background-color: #fcea44;
}

ol li:nth-child(5) {
	background-color: #8cc6ff;
}

ol li:nth-child(6) {
	background-color: #adfe4e;
}

.dest {
	max-width: 100%;
	padding-left: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	display: flex;
	background-color: gray;
	align-items: center;
}

.dest-button {
	width: 300px;
	height: 60px;
	background-color: white;
	padding: 3%;
	border-radius: 10px;
	font-size: 30px;
	text-align: center;
}

.arrow {
	font-size: 30px;
	color: white;
	margin-left: 8%;
	margin-right: 8%;
}

.dest-display {
	font-size: 40px;
	width: 120px;
	height: 120px;
	padding: 2%;
	border-radius: 10px;
	background-color: white;
	text-align: center;
}