body {
	min-height: 100vh;
	max-width: 1200px;
	background-color: white;
	margin: 0 auto;
}

.dest-list {
	background-color: #fee1c9;
	max-height: 80vh;
}

/* リストのサイコロの大きさ */
.resizieimage img {
	width: 6%;
	border-radius: 10px;
}

.main-title {
	display: flex;
	align-items: center;
}

h1 {
	text-align: center;
}

ol {
	list-style: none;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
}

ol li {
	max-width: 100%;
	padding-left: 1%;
	padding-top: 1.5%;
	padding-bottom: 1.5%;
	display: flex;
	border-radius: 12px;
	margin-bottom: 5px;
}

H3 {
	margin-left: 1%;
	margin-right: 1%;
	font-size: 14px;
}

/* メディアクエリを使用してフォントサイズを切り替える */
@media screen and (min-width: 768px) {
	H3 {
		font-size: 20px;
	}
}

/* n番目の要素に適用 */
ol li:nth-child(1) {
	background-color: #fe87ec;
}

ol li:nth-child(2) {
	background-color: #ff8b55;
}

ol li:nth-child(3) {
	background-color: #c963fa;
}

ol li:nth-child(4) {
	background-color: #fcea44;
}

ol li:nth-child(5) {
	background-color: #8cc6ff;
}

ol li:nth-child(6) {
	background-color: #adfe4e;
}

.dest {
	max-height: 20vh;
	padding-left: 2%;
	padding-top: 1%;
	padding-bottom: 1%;
	display: flex;
	background-color: gray;
	align-items: center;
}

#dest-button {
	width: 300px;
	background-color: white;
	padding: 3%;
	border-radius: 10px;
	font-size: 30px;
	text-align: center;
}

.arrow {
	font-size: 30px;
	color: white;
	margin-left: 8%;
	margin-right: 8%;
}

#result {
	width: 120px;
	height: 120px;
	padding: 2%;
	border-radius: 10px;
	background-color: white;
	text-align: center;
	margin: 0 auto
}

/* 画像が高速でランダムに切り替わりながら表示されるコード */
#slideshow {
	/* width: 300px;
	height: 300px; */
	overflow: hidden;
	position: relative;
}

#slideshow img {
	/* width: 100%; */
	height: auto;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	transition: opacity 0.1s;
}

#slideshow img.active {
	opacity: 1;
}

/* 文字入力オーバーレイ */
#overlay-text {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: 1000;
	justify-content: center;
	align-items: center;
}

#overlay-textContent {
	background: #fff;
	padding: 20px;
	border-radius: 5px;
	text-align: center;
}

.displayFrame {
	margin-top: 20px;
	border: 1px solid #ccc;
	padding: 10px;
}

#showoverlay-text {
	width: 300px;
	background-color: white;
	border-radius: 10px;
	font-size: 30px;
	text-align: center;
	margin-left: 5%;
}

/* サイコロ表示オーバーレイ */

#overlay {
	display: flex;
	width: 100%;
	height: 40vh;
	text-align: center;
	position: fixed;
	top: 0;
	background: rgba(0, 0, 0, 0.7);
	padding-top: 12%;
	padding-bottom: 12%;
	margin-top: 12%;
}

.dest-display {
	width: 360px;
	height: 360px;
	padding: 2%;
	border-radius: 10px;
	background-color: white;
	text-align: center;
	margin: 0 auto
}